<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gendinghotelmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GendingHotelManagement">
        <activity android:name=".Receipt"></activity>
        <activity android:name=".Payment" />
        <activity android:name=".OrderConfirmation" />
        <activity android:name=".OrderDetails" />
        <activity android:name=".DateSelection" />
        <activity android:name=".ViewWorkingSchedule" />
        <activity android:name=".ManageSchedule" />
        <activity android:name=".EditProfile" />
        <activity android:name=".RemoveStaff" />
        <activity android:name=".CreateStaff" />
        <activity android:name=".StaffManagement" />
        <activity android:name=".NormalStaffPortal" />
        <activity android:name=".ManagerStaffPortal" />
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.GendingHotelManagement.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/Theme.GendingHotelManagement.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.GendingHotelManagement.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.GendingHotelManagement.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>